.proveedores{
    width: 70%;
    height: 100%;
    /*border: 1px solid black;*/
    margin-left: 250px;
}
.crud{
    display:flex;
    justify-content:flex-end;
    margin-top:30px;
}
.modal1{
    text-decoration: none;
    text-align: center;
    display:inline-block;
    padding: 7px 0;
    width: 100px;
    border: 1px solid black;
    border-radius:50px;
}
.contenedor-modal, .contenedor-modal3{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal, .modalA3{
    width: 40%;
    height:50%;
    background:#A2C1F6;
    /*overflow: hidden;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    border-radius: 10px;
}
.cierre, .cierre3{
    position: absolute;
    top: 5px;
    right:5px;
    display: inline-block;
    width:25px;
    height: 25px1;
    background: red;
    color: white;
    line-height: 25px;
    cursor: pointer;
}
.cierre-modal, .cierre-modal3{
    transform: translateY(-200%);
}
.datrec{
    width: 80%;
    height:30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.descrec{
    width: 80%;
    height:60px;
    margin-bottom: 10px;
}
.recimg{
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.btn-enviar{
    margin-top: 30px;
    height: 30px;
    width: 100px;
    background-color:#2E7BC3;
}
.tabla{
    margin-top: 80px; 
}
.tabladatos{
    margin-top: 50px;
    margin-left: 100px;
    border: 1px solid black;
}
.tdtitulo{
    width: 150px;
    height: 20px;
    border: 1px solid #5FA0D9;
    background: #5FA0D9;
    text-align: center;
}
.tdcampos{
    margin-top: 50px;
    margin-left: 100px;
    border: 1px solid #9DC9EC;
    text-align: center;
    background: #9DC9EC;
}
.tdbotones{
    margin-top: 50px;
    margin-left: 100px;
    border: 1px solid #9DC9EC;
    text-align: center;
    background: #A3B4C5;
}
.btn{
    height: 30px;
    width: 70px;
    border-radius: 5px;
}
.btnDelete{
    color: white;
    background: red;
}
#proveedor{
    width: 600px;
    height: 30px;
    border-radius: 5px;
    margin-left: 150px;
}
.btnbuscar{
    width: 100px;
    height:30px;
   border: 1px solid black;
   border-radius: 5px;
   cursor: pointer;
}